.projectBox {
  background-color: pink;
  background-size: cover;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  position: relative;
  display: inline-block;
}

.projectName {
  color: white;
  border: white 3px solid ;
  text-align: center; 
  display: inline-block;
  padding: 10px 20px;
  font-size: 20pt;
  font-family: "Garamond";  
  position: relative;
  left: 50%;
  transform: translateX(-50%); 
  top: 35%;
 }

.projectsBox {
  transition: ease-in-out 0.8s;
  position: relative;
  margin: 0;
  /*opacity: 0.6;*/
}

.projectBox {
  transition: ease-in-out 0.3s;
}

.projectBox:hover {
  /*transition: 1s; */
  transform: scale(1.15);
  opacity: 1 !important;
}

.projectsBox {
  pointer-events: none;
}

.projectsBox .projectBox {
  pointer-events: auto;
}

.projectsBox:hover .projectBox {
  opacity: 0.5;
}

.projectsBox:hover .projectBox:hover {
  opacity: 1;
}

.container {
  margin-top: 30px;
}
